* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;

    #background {
        background-image: url('./morse-pic.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(8px);
        height: 100vh;
        width: 100vw;
        position: fixed;
    }

    h1 {
        text-align: center;
        color: white;
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
    line-height: 1.5em;
    
    
    div {
        padding: 10px; 
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        
        @media screen and (min-width: 600px) {
            width: 48%;            
        }

        input {
            color: black;
        }

        input[type="text"] {
            width: 90%;
        }
    }

    p {
        
        &.output-text {
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 0px;
            min-height: 150px;
        }
    }
}


img {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    display: flex;
    justify-content: center;;
}